/* WORDPRESS GALLERY */
.gallery-item {}
.gallery-item img { border:none!important; }
.gallery-icon {}
.gallery-caption {}


/* FANCYBOX OVERRIDES */

#fancybox-right-ico {
    background-image: url('../img/next.png');
    background-position: center center;
    background-repeat: no-repeat;
}

#fancybox-left-ico {
    background-image: url('../img/back.png');
    background-position: center center;
    background-repeat: no-repeat;
}

#fancybox-left-ico, #fancybox-right-ico {
    width: 52px;
    height: 80px;
    margin-top:-40px;
}


.fancy-desc {
    width:100%;
    display:inline-block;
}

.fancy-desc-left {
    float: left;
}

.fancy-desc-right {
    float: right;
}

.label {
    /*font-family: 'Josefin Slab', serif;*/
    /*font-size: 1.25em;*/
    /* color:#000; */
    padding: 0.22222rem 0.5rem;
    line-height: 1.1;
}

@media only screen and (max-width: 610px) {
    .label { font-size: 0.825em; } 
}